.navbar {
  height: 60px;
}
.navlink {
  font-size: large;
}
.cart-icon {
  font-size: x-large; 
  cursor: pointer;
}
.badge-icon {
  position: absolute;
  margin-top: -10px;
  border-radius: 15px;
  font-size: 15px;
}