.navbar {
  height: 60px;
}
.navlink {
  font-size: large;
}
.cart-icon {
  font-size: x-large; 
  cursor: pointer;
}
.badge-icon {
  position: absolute;
  margin-top: -10px;
  border-radius: 15px;
  font-size: 15px;
}
.card-details {
  width: 24rem;
  padding: 10px;
}
.cart-product-title {
  font-weight: 500px;
}
.prd-img {
  width: 5rem;
  height: 5rem;
}
.remove-cart {
  color: red !important;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
.cart-div {
  width: 24rem;
  padding: 10px;
  inset: 0px auto auto 0px;
  transform: translate3d(874.667px, 41.3333px, 0px);
  top: 20px;
  background-color: #fff;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
  border-radius: 10px;
  /* margin-left: 2%; */
}
.close-icon {
  position: absolute;
  top: 2px;
  right: 20px;
  font-size: 23px;
  cursor: pointer;
}
.empty-cart {
  font-size: 22px;
}
.empty-cart-img {
  width: 5rem;
  padding: 10px;
}
.empty-cart p {
  margin-right: 55px;
}
.table-body {
  border-block-end: 1px solid black;
}
.table-heading {
  border: 1px;
}